<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ aardvark-seo:head }}

    <link rel="stylesheet" href="{{ mix src='css/site.css' }}">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="{{ mix src='/js/site.js' }}"></script>

</head>

<body>
    {{ aardvark-seo:body }}
    {{ template_content }}


</body>


</html>