<div>

    <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
        Forgot your password?
    </h2>
    <p class="mt-2 text-sm text-gray-600 max-w">
        Please enter your email so we can send you a reset link
    </p>
</div>

<div class="mt-8">

    {{ user:forgot_password_form reset_url="/reset-password" }}
    {{ if errors }}
    <div class="rounded-md bg-blue-50 p-4">
        <div class="flex">
            <div class="flex-shrink-0">
                <!-- Heroicon name: solid/information-circle -->
                <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3 flex-1 md:flex md:justify-between">
                {{ errors }}
                <p class="text-sm text-red-400">
                    {{ value }}
                </p>
                {{ /errors }}
                <p class="mt-3 text-sm md:mt-0 md:ml-6">
                    <a href="#" class="whitespace-nowrap font-medium text-white-700 hover:text-red-300"><a
                            href="mailto@{{configuration:email}}?subject{{title}}">Reach out
                        </a>
                </p>
            </div>
        </div>
    </div>
    {{ /if }}
    <div class="mt-6">

        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
                Email address
            </label>
            <div class="mt-1">
                <input id="email" name="email" type="email" autocomplete="email" value="{{ old:email }}" required
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
            </div>
        </div>


        <div class="mt-10">
            <button type="submit"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                Send Reset Email
            </button>
        </div>






    </div>
    {{ /user:forgot_password_form }}
</div>