<header class="relative">
    <div class="lg:block">
        <nav class=" relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
            <div class="flex px-2 lg:px-0">
                <div class="flex-shrink-0 flex items-center">
                    <img class="block lg:hidden h-8 w-auto" src="{{ company:logo }}" alt="{{ company:name }}">
                    <img class="hidden lg:block h-8 w-auto" src="{{ company:logo }}" alt="{{ company:name }}">
                </div>
                <div class="hidden lg:ml-6 lg:flex lg:space-x-8">
                    {{ nav:main include_home }}
                    <a href="{{ url }}"
                        class="{{ if active }}border-yellow-500{{ else }} border-transparent {{ /if }}  text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">
                        <span class="hover:bg-yellow-200 hover:underline p-2">{{ title }}</span>
                    </a>
                    {{ /nav:main }}
                </div>
            </div>
            <div class="flex items-center flex-1">
                <div class="hidden  items-center justify-between w-full md:w-auto">
                    <a href="#">
                        <span class="sr-only">{{ seo:site_name }}</span>
                        <img class="h-8 w-auto sm:h-10" src="{{ glide:seo:organization_logo }}" alt="">
                    </a>
                </div>
                <div class="hidden space-x-8 lg:flex md:ml-10">
                    <a href="#" class="text-base font-medium text-white hover:text-gray-300">Montreal</a>
                    <a href="#" class="text-base font-medium text-white hover:text-gray-300">Toronto</a>
                    <a href="#" class="text-base font-medium text-white hover:text-gray-300">Vancouver</a>
                    <a href="#" class="text-base font-medium text-white hover:text-gray-300">Halifax</a>
                </div>
            </div>
            <div class="hidden lg:flex lg:items-center md:space-x-6">
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <!-- Heroicon name: solid/search -->
                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="block">
                        <input class="rounded-l-full w-full py-2 px-6 text-gray-sm leading-tight border-transparent "
                            id="search" name="q" type="search" placeholder="Search" autocomplete="off"
                            @click="show = true">
                        <div class="p-2">
                            <button type="submit"
                                class="  focus:ring-2 focus:ring-offset-2 focus:ring-yellow-200 rounded-full p-2 hover:bg-green-400 focus:outline-none flex items-center justify-center">
                                <svg class="text-gray-sm h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="black">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                        </div>
                    </div>



                </div>
            </div>
            <div class="flex-shrink-0 relative ml-5" x-data="{
                    openMenu: 'none',}">
                <span class="relative z-0 inline-flex shadow-sm rounded-md">
                    <button @click="openMenu = 'user'"
                        class="relative inline-flex items-center  text-sm font-medium text-gray-700 hover:shadow2xl focus:z-10 focus:outline-none focus:ring-1 focus:ring-yellow-500 focus:border-yellow-500">
                        {{if site:short_locale ==="fr" }}
                        <svg class="h-8 w-8 shadow-xl" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="1200" height="800"
                            viewBox="0 0 9600 6400">
                            <path fill="#fff" d="m0 0h9600v6400H0z" />
                            <g id="h">
                                <g id="q">
                                    <path fill="#003da5"
                                        d="m4000 0v2400H0V0zm-1691 1622v-129h-115c0-66 32-130 66-150 20-17 65-25 104-5 51 29 54 113 28 151 243-45 219-280 136-365-67-69-140-79-196-58-128 46-214 199-218 427h-67c0-207 36-273 130-534 48-123 19-275-65-415-31-50-69-95-112-144-43 49-81 94-112 144-84 140-113 292-65 415 94 261 130 327 130 534h-67c-4-228-90-381-218-427-56-21-129-11-196 58-83 85-107 320 136 365-26-38-23-122 28-151 39-20 84-12 104 5 34 20 66 84 66 150h-115v129h239c-3 67-39 119-106 148 8 28 49 85 105 81 11 60 21 94 71 149 50-55 60-89 71-149 56 4 97-53 105-81-67-29-103-81-106-148z" />
                                </g>
                                <use xlink:href="#q" x="5600" />
                            </g>
                            <use xlink:href="#h" y="4000" />
                        </svg>
                        {{ else }}
                        <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9600 4800">
                            <title>Change language to French</title>
                            <path fill="#f00" d="m0 0h2400l99 99h4602l99-99h2400v4800h-2400l-99-99h-4602l-99 99H0z" />
                            <path fill="#fff"
                                d="m2400 0h4800v4800h-4800zm2490 4430-45-863a95 95 0 0 1 111-98l859 151-116-320a65 65 0 0 1 20-73l941-762-212-99a65 65 0 0 1-34-79l186-572-542 115a65 65 0 0 1-73-38l-105-247-423 454a65 65 0 0 1-111-57l204-1052-327 189a65 65 0 0 1-91-27l-332-652-332 652a65 65 0 0 1-91 27l-327-189 204 1052a65 65 0 0 1-111 57l-423-454-105 247a65 65 0 0 1-73 38l-542-115 186 572a65 65 0 0 1-34 79l-212 99 941 762a65 65 0 0 1 20 73l-116 320 859-151a95 95 0 0 1 111 98l-45 863z" />
                        </svg>
                        {{ /if }}
                    </button>

                </span>
                <div x-show="openMenu === 'user'" @click.away="openMenu = 'none'"
                    class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 z-50 bg-white ring-1 ring-black ring-opacity-5"
                    role="menu" aria-orientation="vertical" aria-labelledby="logged_in">
                    <a href="/fr/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem">Francais</a>
                    <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        role="menuitem">English</a>
                </div>
            </div>
            <!-- /user -->
        </nav>
    </div>
    {{ partial:components/nav/mobile }}
</header>