<div class="overflow-x-auto">

    <div class="grid grid-cols-4 gap-6 min-w-max sm:w-auto sm:grid-cols-3 lg:grid-cols-4 m-8 ">

        <div class="w-70v sm:w-full shadow-2xl">


            <div
                class="flex-1 flex items-center justify-between border-2 border-gray-200 bg-white rounded-lg shadow-2xl truncate">
                <div class="flex -space-x-2 relative z-0 overflow-hidden shadow-lg">
                    {{ entries }}

                    <img class="relative z-30 inline-block h-8 w-8 rounded-full ring-2 ring-white"
                        src="{{ assets:img_1 }}">

                    {{ /entries }}
                </div>
                <div class=" flex-1 px-4 py-2 text-sm truncate">
                    <a href="#" class="text-gray-900 font-medium hover:text-gray-600">{{ title }}</a>
                    <p class="text-gray-500">{{ collection }}</p>
                </div>
                <div class="flex-shrink-0 pr-2">
                    <button
                        class="w-8 h-8 bg-white inline-flex items-center justify-center text-gray-400 rounded-full bg-transparent hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <span class="sr-only">Open options</span>
                        <!-- Heroicon name: solid/dots-vertical -->
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                            aria-hidden="true">
                            <path
                                d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>






    </div>
</div>