<div style="background-image: url('{{ glide:image_background }}');background-size: cover;"
    class="pt-10 lg:pt-8 lg:pb-14 lg:overflow-hidden md:rounded-t-none rounded-t-3xl h-70v">
    {{ partial:components/nav/main }}
    <div class="mx-auto max-w-7xl lg:px-8">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8">
            <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6  lg:px-0 sm:text-left lg:flex lg:items-center">
                <div class="sm:py-24">
                    <a href=""
                        class="hidden lg:inline-flex items-center text-white bg-black rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-green-400">
                        <span
                            class="px-3 py-0.5 text-black text-xs font-semibold leading-5 uppercase tracking-wide bg-gradient-to-r from-gray-500 to-gray-100 rounded-full">{{
                            cta_heading }}</span>
                        <span class="ml-4 text-sm">{{ cta_text }}</span>
                        <!-- Heroicon name: chevron-right -->
                        <svg class="ml-2 w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <h1
                        class="mt-20 text-4xl tracking-tight font-extrabold text-gray sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
                        <span class="block">{{ heading_white }}</span>

                    </h1>
                    <h1
                        class="mt-20 text-4xl tracking-tight font-extrabold text-gray sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl bg-clip-text text-transparent bg-gradient-to-r from-green-100 to-yellow-200 block">
                        {{
                        heading_color}}
                    </h1>


                </div>
            </div>

        </div>

    </div>
</div>
<!-- Feature section with screenshot -->